# -*- mode: yaml-ts; -*-

CompileFlags:
    Add: [-Wall, -Wextra, -Wpedantic, -Wconversion, -Wsign-conversion]
    Remove: [-Werror, -mno-direct-extern-access]

InlayHints:
    Enabled: false

Hover:
  ShowAKA: true

Completion:
  AllScopes: true
  Dedupe: true

Style:
  FullyQualifiedNamespaces: false
  ShowOrigins: false
